<footer class="bg-tertiary-container w-full py-section-gap">
  <div class="grid grid-cols-12 px-6 md:px-margin-edge w-full items-end gap-y-10 md:gap-y-16">
    <div class="col-span-12 md:col-span-4">
      <div class="font-headline-md text-headline-md text-tertiary-fixed mb-6 md:mb-8">Lawyers GT</div>
      <p class="font-body-md text-on-tertiary-container max-w-xs">
        Boutique jurídica especializada en la defensa de intereses corporativos y patrimoniales globales.
      </p>
    </div>
    <div class="col-span-12 md:col-span-4 flex flex-col space-y-3 md:space-y-4">
      <a class="font-label-sm text-label-sm tracking-widest text-on-tertiary-container hover:text-secondary-fixed transition-opacity opacity-80 hover:opacity-100" href="#">Aviso Legal</a>
      <a class="font-label-sm text-label-sm tracking-widest text-on-tertiary-container hover:text-secondary-fixed transition-opacity opacity-80 hover:opacity-100" href="#">Privacidad</a>
      <a class="font-label-sm text-label-sm tracking-widest text-on-tertiary-container hover:text-secondary-fixed transition-opacity opacity-80 hover:opacity-100" href="#">Términos</a>
    </div>
    <div class="col-span-12 md:col-span-4 text-left md:text-right">
      <p class="font-label-sm text-label-sm tracking-widest text-tertiary-fixed mb-4">&copy; 2026 Lawyers GT. EXCELENCIA JURÍDICA.</p>
      <div class="flex md:justify-end space-x-6">
        <a class="text-on-tertiary-container hover:text-tertiary-fixed transition-colors" href="#">
          <span class="material-symbols-outlined">share</span>
        </a>
        <a class="text-on-tertiary-container hover:text-tertiary-fixed transition-colors" href="#">
          <span class="material-symbols-outlined">cases</span>
        </a>
      </div>
    </div>
  </div>
</footer>
