<section class="relative h-screen w-full flex items-center overflow-hidden bg-surface">
  <div class="absolute inset-0 z-0">
    <div
      class="w-full h-full bg-cover bg-center opacity-40 mix-blend-multiply transition-transform duration-[10s] hover:scale-105"
      style="background-image: url('https://lh3.googleusercontent.com/aida/AP1WRLtAU1eMlSlEJuVCr2JsdT64WGlyeB_B6TgS4qY98eva_4gNi2_4773vLDz7B76pRPns2FocqR-wRcoztWmlFP-fvy4rah7fDE4TDuwBd7g-SosCmXoBZfzeYyMvQtB0Z8QjXaQFssK3_fY8HiXwUCbD1olOdE125aqULN2ydWbYfmaUU5yTQMR2IK_Z-MnU8fACto4g2aUlZrFhQ-CkBFPyqDOcxTV58vD9PNBcY3GwcGvBdGobhj6L_YdB')"
    ></div>
    <div class="absolute inset-0 bg-gradient-to-r from-surface via-transparent to-transparent"></div>
  </div>
  <div class="relative z-10 px-margin-edge w-full max-w-container-max mx-auto grid grid-cols-12 gap-gutter">
    <div class="col-span-12 md:col-span-8">
      <h1 class="font-display-xl text-display-xl-mobile md:text-display-xl mb-8 leading-tight">
        Estrategias legales a la medida de <span class="italic font-light">grandes visiones.</span>
      </h1>
      <div class="flex items-center space-x-8">
        <a
          class="bg-primary text-on-primary px-10 py-5 font-nav-link text-nav-link tracking-[0.2em] uppercase transition-all duration-300 hover:bg-secondary"
          href="#contacto"
        >
          Iniciar Consulta Privada
        </a>
        <span class="w-24 h-[1px] bg-primary hidden md:block"></span>
      </div>
    </div>
  </div>
</section>
